<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>“好好学习”奖学金的发起 The Story about Good Good Study</title>
        <script src="/main.js"></script>
        <style>
            h1, div, p {
                font-family: 'Courier New';
            }
            #page {
                background-color: #eee;
                color: #333;
            }
            .copyright {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <h1>“好好学习”奖学金的发起 The Story about Good Good Study</h1>
        <div id="GGSEF">
    <p>  我来自白河县，曾经就读于白河一中，现在是“好好学习”教育基金的负责人之一。“好好学习”教育慈善奖学金原名叫“吕玉娟优秀贫困高中生奖学金”，是由一位优秀而又有爱心的姐姐于2011年发起的。为什么叫“吕玉娟优秀贫困高中生奖学金”，吕玉娟又是何人，她与此慈善奖学金是什么关系，敬请听我娓娓道来。</p>
    <p>  I am from Baihe Town and graduated from Baihe No. 1 High School. Currently, I am one of the board members and officers of Good Good Study Education Foundation (GGSEF).  Good Good Study Education Scholar ship was originally named the Lv Yujuan Scholarship for Underprivileged Students, initiated by a wonderful and loving lady in 2011.  Who is Lv Yujuan?  What does she have to do with this scholarship?  Let me tell you how GGSEF got started.</p>
    <p>  “好好学习”奖学金的发起人是位美籍华人，名叫Rui M，大家都称她Rui(睿)，而我称她为睿姐。睿小姐是美国华尔街非常优秀的风投领军人物，是典型的女强人。然而在我眼中，睿小姐是一位平易近人的姐姐。她富有爱心，虽然很忙，总能抽出时间来关心中国贫困山区的小朋友，资助他们上学。可是为什么要把这个奖学金叫做“吕玉娟优秀贫困高中生奖学金”？吕玉娟跟睿小姐又是什么关系呢？</p>
    <p>  GGSEF was initiated by Rui M, a Chinese American. We all called her Rui, but I like to call her Sister Rui.  Rui is an outstanding Wall Street VC leader, a very successful career woman.  To me, she is like a sister, easy going and approachable.  She has a kind heart.  No matter how busy she is, she would always spend time to care about children from rural China and find ways to sponsor their education.  But, why was thescholarship originally named after Mrs. Lv Yujuan?  What is the relationship between Rui and Mrs. Lv Yujuan?</p>
    <p>  原来，吕玉娟女士是睿小姐的外婆。外婆年迈八十，是一位很善良的中国女性。外婆生于抗日战争年代，那时候外婆的家很穷，连饭都吃不饱，更别说是上学了。可是外婆是一个求知欲很强的人，她非常遗憾自己年幼时没能上学，所以现在都还在坚持学习。外婆现在跟随女儿生活在美国加州，她坚持上老年学校，坚持学习，现在已经学会使用电子邮件了，并经常通过电子邮件跟大家交流。外婆身在国外，却不忘国内仍有很多贫困山区的孩子因为家庭的贫穷读不起书。大约十年前，外婆在陕西遇到一名法学院的学生。外婆被这位女生排除万难获得教育的故事所感动，便立刻向这位学生捐助了1000美元，给她买电脑。在外婆的教育与指导下，睿小姐自然而然也成为一位心地善良的女性。作为对外婆的回报，睿小姐于2011年发起了“吕玉娟优秀贫困高中生奖学金”。后来我们把奖学金的名字改为“好好学习”。而“好好学习”，顾名思义，就是希望获得该奖学金的孩子们能够认真踏实地学习知识，靠知识改变命运。</p>
    <p>  Mrs. Lv Yujuan is Rui’s grandmother.  Grandma Lv is in her 80s.  She is a very kind Chinese woman.  She was born during the Anti-Japanese War and her family was so poor that they could not afford food, let alone sending children to school.  She has a strong desire for knowledge.  She felt sorry that she did not get to go to school when she was young, so she continues to study until now.  Grandma Lv now lives with her daughter in California. She goes to the school for the elderly, and has learned how to write e-mails and communicate with others through e-mails.  Even though Grandma Lv lives abroad, she always remembers that there are many children in rural China who could not receive education because of poverty. About a decade ago, Grandma Lv met a poor law school student in Shaanxi quite by accident, and was so touched by the girl’s story of overcoming all odds to receive an education that she donated $1000 USD for a new laptop for the girl on the spot.  Under Grandma's education and guidance, Rui grew up to be a good-hearted woman.  To honor her grandmother, Rui launched the Lv Yujuan Scholarship for Underprivileged Students in 2011.  Later, we changed the name of the scholarship to Good Good Study. And as the name Good Good Study suggests, we hope the children who received scholarship would learn practical knowledge and use the knowledge they learn to change their fate.</p>
    <p>  这就是“好好学习”的故事。我们现在正在为99名白河一中的高中生和五名白河镇的大学生提供资助。我们在慢慢拓展，希望能够帮到更多的人。我们会通过这个平台陆陆续续发布关于我们资助项目、受资助学校和学生的信息，希望你能和我们一起见证学生们的成长！</p>
    <p>  This is the story about Good Good Study.  We are currently providing financial assistance to 99 students of Baihe No. 1 HighSchool and five college students from Baihe. We are gradually expanding, hoping to assist more people.  We will send information about our projects, and schools and students that receive our assistance through this platform.  We invite you to join us to witness the growth of our sponsored students!</p>

        </div>

    </body>
</html>
