<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>2016年奖学金计划</title>
        <script src="/main.js"></script>
        <style>
            h1, div, p {
                font-family: 'Courier New';
            }
            #page {
                background-color: #eee;
                color: #333;
            }
            .copyright {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <h1>2016年奖学金计划</h1>
        <div id="GGSEF">
    <p> 2016年好好学习奖学金将于11月开始申请。请同学们将申请资料保送至老师处。 </p>

        </div>

    </body>
</html>
